.custom {
    margin: 40px !important;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700;900&display=swap');


*{
    // 
    
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.header{
    // background-color: #ffffff;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
    width: 100%;
    position: fixed;
    z-index: 3;
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
        // background-color: #000000;
        background-color: rgba(0, 0, 0, 0.5);
        li{
            a{
                color: #ffffff;
                display: block;
                padding: 16px;
                text-decoration: none;
                text-transform: uppercase;
                text-align: center;
                font-weight: 300;
                &:hover{
                    color: 	#FF6347;
                  }//CloseHover
                &:active{
                color: rgba(6,10,36,0.56);
                }
              }//CloseA
        }
          
     }//CloseUl
    //  .logo{
    //     float: left;
    //     display: block;
    //     padding: 20px 20px;
    //   }

      .menu{
          clear: both;
          max-height: 0;
          transition:max-height .2s ease-out;
      }

      .menu-icon{
          padding: 28px 20px;
          position: relative;
          float: right;
          cursor: pointer;
          .nav-icon{
            //   background-color: #000000;
              background-color: #ffffff;
              display: block;
              height: 2px;
              width: 18px;
              position: relative;
              transition:background .2s ease-out;
              &::before{
                //   background: #000000;
                  background: #ffffff;
                  content: "";
                  display: block;
                  height: 100%;
                  width: 100%;
                  position: absolute;
                  transition: all .2s ease-out;
                  top: 5px;
              }//CloseBefore
              &::after{
                // background: #000000;
                background: #ffffff;
                content: "";
                display: block;
                height: 100%;
                width: 100%;
                position: absolute;
                transition: all .2s ease-out;
                top: -5px;
            }//CloseAfter
          }//CloseNavIcon
      }//CloseMenuIcon

      .menu-btn{
        display: none;
        &:checked ~ .menu{
            max-height: 224px;
        }
        &:checked ~ .menu-icon{
            .nav-icon{
                background: transparent;
                &::before{
                    transform: rotate(-45deg);
                    top: 0;
                }
                &::after{
                    transform: rotate(45deg);
                    top: 0;
                }
            }//CloseNavIcon
        }//CloseChkMenuIcon
      }//CloseMenuBtn
  }//CloseHeader


  .hero-image{
    //   background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./img/sauron-eye.png");
      position: relative;
      height: 400px;
      overflow: hidden;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  }

  .container-image{
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
      overflow: hidden;
      text-align: center;
      color: white;
      font-weight: 900;
      text-transform: uppercase;
      h1{
        font-size: 72px;
        letter-spacing: 0.2em;
        margin: 0;
        span{
            border: 10px solid white;
            padding: 6px 14px;
            display: inline-block;
        }
    }
  }

  .des{
      margin: 20px;
      display: block;
      font-size: 26px;
      text-shadow: 0 0 10px black;
      .always{
        color: 	#FF6347;
      }
      .guion{
          display: none;
      }
  }


  @media (min-width: 1220px){
    .header{
        padding-left: 5%;
        ul{
            padding-right: 5%;
            li{
                float: left;
                a{
                    padding: 20px 30px;
                    color: #ffffff;
                    font-weight: 400;
                    &:hover{
                        color: 	#FF6347;
                        // text-decoration: line-through;
                    }
                    &:active{
                        color: rgba(6,10,36,0.56);
                        // text-decoration: line-through;
                    }
                }
        }
        }
        .menu{
            // background-color: #ffffff;
            background-color: rgba(0, 0, 0, 0);
            clear: none;
            float: right;
            max-height: none;
        }
        .menu-icon{
            display: none;
        }
    }//CloseHeader

    .des{
        .guion{
            all: unset;
        }
    }
  }